extends layout
block main
  div.content
    p Today is Sunday October 10th 2021. I am Kareem, son, brother, uncle to two lovely dovies, and a software developer!
    br
    br
    div(style='overflow: auto;')
      img(src='/images/naguib_1.png' alt='Naguib Mahfouz' style=' width: 340px; margin-left: 30px; float: right;')
      p I enjoy Arabic literature, one of my all time favorites is The Cairo Trilogy by Egyptian novelist and the 1988 Nobel prize winner Naguib Mahfouz. The main protagonist in the novel is Elsayed Ahmed Abdelgawad(known as Sy Elsayed in Arab pop culture.) His daughter Aisha's husband and children die due to Cholera, a pandemic that hit the world between 1922 and 1927. 180,000 Egyptians died in that pandemic. I remember reading that part of the novel on the first evening of COVID-19 lockdown in Cairo. It was such a moving tale. I started freelancing with software just about that same time.
      img(src='/images/naguib_2.png' alt='Naguib Mahfouz' width='200px')
      img(src='/images/sy_elsayed_1.png' alt='Sy Elsayed' width='200px' style='margin-left: 80px;')
      img(src='/images/sy_elsayed_2.png' alt='Sy Elsayed' width='200px' style='margin-left: 80px;')
    br
    br
    div(style='overflow: auto;')
      img(src='/images/mail.png' alt='Mail' style='float: left; margin-right: 30px;' width='400px')
      p In my freelancing days, I did many projects throughout MENA, a few across the EU, and one project for a web services agency in Palm Springs, California. That one was particularly interesting indeed, focused on E-mail marketing. I learned that E-mail marketing could be really effective if used right, I didn't know!
    br
    br
    div(style='overflow: auto;')
      img(src='/images/treehouse.png' alt='Mail' style='float: right; margin-right: 30px;' width='400px')
      p Family comes first, second and third to me. I aspire to work remote and be a stay home dad. Cargo shorts, clogs, block B house #9(one with the treehouse) in that friendly neighborhood, clean the pool & send kids to school, and all. I would like to enjoy discovering life again as I raise my own little family.
    br
    br
    div(style='overflow: auto;')
      p I currently live in Munich, and I build business software for startups across the EU as part of much. Consulting GmbH. I love building software and I did many things before that. Back in Cairo I used to volunteer teach English at St. Andrews refuge services on Saturdays. I found peace in minimulisim, worrying less, owning less, and actually being less, helped me do more.
    br
    br
    div(style='overflow: auto;')
      p I am an expert on rock music of the 90's trivia. Band names, band member names, album release dates, you name it.
      img(src='/images/liam.png' alt='Liam' width='200px')
      img(src='/images/chris.png' alt='Chris' width='200px')
      img(src='/images/monkeys.png' alt='Monkeys' width='200px')
    p With good music, I leave you...

