nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    color: #537fbe;
}

.navbar 
{
  position:absolute;
  
}

.background
{
  position:absolute;
  z-index: -1;
}


html, 
body {
    height: 100vh;
}

.blue
{
    color: red;
}

/* Remove numbering for list items */
ol li {
    list-style-type: none;
}
